<script lang="ts">
  import {  type MouseCoords } from "$lib";
  import { socket } from "../socket";
  import Cursor from "./Cursor.svelte";

  let cursors : Array<MouseCoords> = [];

  socket.on('user registered', (mouseCoords : MouseCoords) => {
    console.log("adding to array");
    cursors = [...cursors, mouseCoords];
  });

  socket.on('mouse move', (mouseCoords : MouseCoords) => {
    console.log("mouse moved");
    let currentCursor : MouseCoords | undefined = cursors.find((cursor) => cursor.name === mouseCoords.name);

    if (currentCursor === undefined) {
      cursors = [...cursors, mouseCoords];
    } else {
      currentCursor.x = mouseCoords.x;
      currentCursor.y = mouseCoords.y;
      cursors = [...cursors];
    }
  });
  
</script>

{#each cursors as cursor }
  <Cursor mouseCoords={cursor}/>
{/each}