<script lang="ts">
    import { type MouseCoords } from "$lib";
    export let mouseCoords : MouseCoords;

    let id = "cursor_" + mouseCoords.name;
     
    let style = `left: 0px; top: 0px;`;

    $: {
        style = `left: ${mouseCoords.x}%; top: ${mouseCoords.y}%;`;
    }

</script>


<div id={id} class="cursor" style={style}>
    <!-- <div class="cursor__icon">+</div> -->
    <div class="cursor__name">{mouseCoords.name}</div>

</div>

<style>
    .cursor {
        position: absolute;
        z-index: 4;
    }

    .cursor__name {
        color: rgb(224, 19, 200);
    }

    .cursor__name::after {
        content: "+";
        color: rgb(224, 19, 200);
        position: absolute;
        font-size: 1.2rem;
        top: -0.7rem;
        left: -0.5rem;
    }
</style>