<script lang="ts">
  import { socket } from "../socket";
  import { type MouseCoords } from "$lib";
  import { userName } from "../stores/username";

  let name : string = '';

  let register = () => {

    if (name === '' || name === undefined) {
        return;
    } 

    const mouseCoords : MouseCoords = 
    {
        x: 0,
        y: 0,
        name: name
    };

    socket.emit('user registered', mouseCoords);

    userName.set(name);
    console.log('registered as ' + name)
  };

</script>

<div class="overlay">
    <div class="login-container">
        <h2>Enter your name:</h2>
        <input placeholder="Enter your nick here" bind:value={name}>
        <button on:click={register}>Enter!</button>
    </div>
</div>

<style>
     .overlay {
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(30, 30, 30, 0.8);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        z-index: 10;

    }

    .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        background-color: rgb(30, 30, 30);
        border-radius: 10px;
        border: 1px solid rgb(224, 19, 200);
        width: 50%;
        padding: 2rem 0;
        
    }

    h2 {
        margin-top: 0;
    }

    input {
        all: unset;
        background-color: rgb(30, 30, 30);
        padding: 1rem;

        border-radius: 10px;
        border: 1px solid rgb(85, 85, 85);

    }

    button {
        all: unset;
        background-color: rgb(224, 19, 200);
        color: black;
        margin-top: 1rem;
        padding: 1rem 3rem;
        border-radius: 20px;
    }

    button:hover {
        cursor: pointer;
        background-color: rgb(169, 10, 151);
    }


</style>