<script lang="ts">
  import CursorManager from "$lib/CursorManager.svelte";
  import Register from "$lib/Register.svelte";
  import logo from '$lib/assets/logo.png';
  import { userName } from "../stores/username";
  import { socket } from "../socket";
  import type { ClickCountRow } from "$lib";
    let registered = false;

    let onLogoClick = (name : string) => {
      socket.emit("logo clicked", {name: name})
    }

    let clickTable : Array<ClickCountRow>= [];

    userName.subscribe((name) => {
      
      if (name != '' && !registered) {
      
      document.addEventListener('mousemove', (event) => {
        const maxWidth = window.outerWidth;
        const maxHeight = window.outerHeight;
        const mouseCoords = {
            name : $userName,
            x : Math.floor((event.clientX / maxWidth) * 100),
            y : Math.floor((event.clientY / maxHeight) * 100)
        };
      socket.emit('mouse move', mouseCoords);
      });

      registered = true;
      }

    });

    // TODO : implement socket.on

  
</script>

<div class="main">

    <div class="clicker-container">
        <img on:click={onLogoClick($userName)} class="clicker-logo" src={logo} alt="logo" >
        <p class="clicker__text">Click me!</p>
        
        <!-- TODO : add table here -->
    </div>
    

</div>

{#if !registered}
    <Register/>
{/if}

<CursorManager></CursorManager>

<style>
    .main {
        width: 100vw;
        height: 100vh;
        position: relative;
        background-color: rgb(30, 30, 30);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

    }

    .clicker-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        height: 100%;
    }

    .clicker__text {
        font-size: bold;
        
    }

    .clicker-logo {
        width: 17rem;
        height: 20rem;
        filter: drop-shadow(5px 5px 5px #222);    
    }

    .clicker-logo:hover {
      cursor: pointer;
    }
</style>